form fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
form fieldset legend{
    text-align: right;
}
form input[type=radio]{
    display: none;
}
form label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
form label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
form label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
form input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#review {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

.fa-star {
    color: #ffd700;
}

.review-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-item {
    width: 80%;
    display: flex;
    margin-top: 20px;
    border: 1px solid #000;
    padding: 10px;
}

.review-number {
    width: 30px;
    text-align: center;
    border-right: 1px solid #000;
}

.review-content {
    flex-grow: 1;
    margin-left: 10px;
}

.review-user {
    font-weight: bold;
}

.review-stars {
    margin: 10px 0;
}

.review-text {
    line-height: 1.5;
}


.star-rating {
    font-size: 0; /* remove extra spaces */
}
.star-rating i {
    font-size: 20px; /* size of the star */
}
.star-rating .fa-star:after {
    content: '\f005'; /* this is the star */
    color: #ffd700; /* color of the active (filled) star */
}
.star-rating .fa-star-o:after {
    content: '\f006'; /* this is the empty star (star-o) */
    color: #808080; /* color of inactive (empty) star */
}
